@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../mixins';

$gradient1: rgba(0, 0, 0, 0.85);
$gradient2: rgba(69, 72, 77, 0.85);

.container {
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;

    .bg-gradient {
        height: 100vh;
        width: 100%;
        display: block;
        background: $gradient1;
        background: -moz-linear-gradient(top, $gradient2 0%, $gradient1 100%);
        background: -webkit-linear-gradient(top, $gradient2 0%, $gradient1 100%);
        background: linear-gradient(to bottom, $gradient2 0%, $gradient1 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;
        @include rem-fallback(padding, 15, 0);
        background-position: 50% 50%;
    }

    .jumbotron-style {
        background-color: transparent;
        color: $gray-500;
        margin-bottom: 0;

        p {
            @include rem-fallback(font-size, 24);
        }

        h1 {
            text-shadow: 0px 0px 2px $red;

            @media (max-width: map-get($grid-breakpoints, lg) - 1) {
                @include rem-fallback(font-size, 32);
            }
        }
    }
}
