@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../mixins';

.sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 30px $black;
    z-index: 10;
    display: none;
    flex-direction: column;

    width: 75%;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        @include rem-fallback(width, 300px);
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
        width: 20%;
    }

    @media (max-width: map-get($grid-breakpoints, lg) - 1) {
        @include rem-fallback(top, 80);
        background-color: rgba(0, 0, 0, 0.9);
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: flex !important;
    }

    .brand-holder {
        @include rem-fallback(padding, 0, 15, 15, 15);
        display: block;
        box-sizing: border-box;

        .logo {
            max-width: 100%;
        }

        @media (max-width: map-get($grid-breakpoints, lg) - 1) {
            display: none;
        }
    }

    .copy-write-mark {
        color: $gray-500;
        @include rem-fallback(width, 14);
        width: 100%;
        text-align: center;
    }
}

@media (max-width: map-get($grid-breakpoints, lg) - 1) {
    .sidebar-drop {
        width: 100%;
        height: 100%;
        top: 80px;
        left: 0;
        z-index: 9;
        position: fixed;
    }
}

.search-dt {
    display: none;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .search-dt {
        display: block;
    }
}
