@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../mixins';

.tab-style {
    .nav-tabs {
        border: 0;
        @include rem-fallback(margin-bottom, 20);
        .nav-item {
            background-color: transparent;
            border: 0;
            @include rem-fallback(font-size, 28);
            text-transform: uppercase;
            line-height: 1;
            @include rem-fallback(padding, 10);
            color: #ccc;
            position: relative;
            box-sizing: border-box;
            @include rem-fallback(margin-right, 20);
            transition: all 0.5s;

            @media (min-width: map-get($grid-breakpoints, md)) {
                @include rem-fallback(font-size, 32);
            }

            &.active {
                color: $red;
                &:after {
                    content: '';
                    width: 100%;
                    height: 5px;
                    @include rem-fallback(height, 5);
                    background-color: $red;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}
