.hide {
    opacity: 0;
}

.bg {
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.5s ease-in;

    &-blurred {
        filter: blur(5px);
    }
}
