@import '../../../node_modules//bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../mixins';

.layout {
    box-sizing: border-box;
    position: relative;

    .main {
        position: relative;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        @include rem-fallback(padding-left, 300px);
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
        padding-left: 20%;
    }
}
